.gm-banner {
    color: black;
    padding: 32px;
    border-bottom: solid 3px black;
  }
  
  .gm-banner-content {
    display: flex;
    justify-content: space-between; /* Spread out the content */
    align-items: center; /* Vertically center items */
  }
  
  .gm-name {
    font-size: 24px; /* Adjust the font size as needed */
  }
  
  .gm-logo {
    height: 60px; /* Logo size */
  }